body.login {
  background-image: url("https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  body.login .materialContainer {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5; }
  .box.back {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1; }
  .box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, 0.6);
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    z-index: -1; }

.materialContainer .button,
.materialContainer .button button .button.login button i.fa,
.materialContainer .button.login button,
.materialContainer .input,
.materialContainer .input .spin,
.materialContainer .input input,
.materialContainer .input label,
.materialContainer .material-button .shape:after,
.materialContainer .material-button .shape:before {
  -o-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.materialContainer .alt-2,
.materialContainer .alt-2 .shape,
.materialContainer .box,
.materialContainer .material-button,
.materialContainer .material-button .shape {
  -o-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1); }

.materialContainer .button,
.materialContainer .button button,
.materialContainer .input,
.materialContainer .input .spin,
.materialContainer .input input,
.materialContainer .input label {
  width: 100%;
  float: left; }

.materialContainer .button,
.materialContainer .input {
  margin-top: 30px;
  height: 70px; }

.materialContainer .button,
.materialContainer .button button,
.materialContainer .input,
.materialContainer .input input {
  position: relative; }

.materialContainer .input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent; }

.materialContainer .button button,
.materialContainer .input input,
.materialContainer .input label {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300; }

.materialContainer .input .spin,
.materialContainer .input:before {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0; }

.materialContainer .input:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  z-index: 3; }

.materialContainer .input .spin {
  background: #ED2553;
  z-index: 4;
  width: 0; }

.materialContainer .overbox .input .spin {
  background: white; }

.materialContainer .overbox .input:before {
  background: rgba(255, 255, 255, 0.5); }

.materialContainer .input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px; }

.materialContainer .button.login {
  width: 60%;
  left: 20%; }

.materialContainer .button button,
.materialContainer .button.login button {
  width: 100%;
  line-height: 64px;
  left: 0;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2); }

.materialContainer .button.login {
  margin-top: 30px; }

.materialContainer .button {
  margin-top: 20px; }

.materialContainer .button button {
  background-color: #fff;
  color: #ED2553;
  border: none; }

.materialContainer .button.login button.active {
  border: 3px solid transparent;
  color: #fff !important; }

.materialContainer .button.login button.active span {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0); }

.materialContainer .button.login button.active i.fa {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg); }

.materialContainer .button.login button i.fa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  transform: scale(0) rotate(-45deg);
  -webkit-transform: scale(0) rotate(-45deg);
  -ms-transform: scale(0) rotate(-45deg); }

.materialContainer .button.login button:hover {
  color: #ED2553;
  border-color: #ED2553; }

.materialContainer .button {
  margin: 40px 0;
  overflow: hidden;
  z-index: 2; }

.materialContainer .button button {
  cursor: pointer;
  position: relative;
  z-index: 2; }

.materialContainer .pass-forgot {
  width: 100%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px; }

.materialContainer .click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: #ED2553;
  border-radius: 50%; }

.materialContainer .overbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  border-radius: 10px;
  padding: 60px 50px 40px; }

.materialContainer .overbox .button,
.materialContainer .overbox .input,
.materialContainer .overbox .title {
  z-index: 111;
  position: relative;
  color: #fff !important;
  display: none; }

.materialContainer .overbox .title {
  width: 80%; }

.materialContainer .overbox .input {
  margin-top: 20px; }

.materialContainer .overbox .input input,
.materialContainer .overbox .input label {
  color: #fff; }

.materialContainer .overbox .alt-2,
.materialContainer .overbox .alt-2 .shape,
.materialContainer .overbox .material-button,
.materialContainer .overbox .material-button .shape {
  display: block; }

.materialContainer .alt-2,
.materialContainer .material-button {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ED2553;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%); }

.materialContainer .alt-2 .shape,
.materialContainer .material-button .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.materialContainer .alt-2 .shape:after,
.materialContainer .alt-2 .shape:before,
.materialContainer .material-button .shape:after,
.materialContainer .material-button .shape:before {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg); }

.materialContainer .alt-2 .shape:before,
.materialContainer .material-button .shape:before {
  width: 25px;
  height: 4px; }

.materialContainer .alt-2 .shape:after,
.materialContainer .material-button .shape:after {
  height: 25px;
  width: 4px; }

.materialContainer .alt-2.active,
.materialContainer .material-button.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg); }

.overbox .title {
  color: #fff; }
  .overbox .title:before {
    background: #fff; }

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative; }
  .title:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: #ED2553; }
