@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('../fonts/myfonts/avenir-ltstd-book.eot?#iefix') format('embedded-opentype'), url('../fonts/myfonts/avenir-ltstd-book.otf') format('opentype'), url('../fonts/myfonts/avenir-ltstd-book.woff') format('woff'), url('../fonts/myfonts/avenir-ltstd-book.ttf') format('truetype'), url('../fonts/myfonts/avenir-ltstd-book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('../fonts/myfonts/avenir-ltstd-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/myfonts/avenir-ltstd-medium.otf') format('opentype'), url('../fonts/myfonts/avenir-ltstd-medium.woff') format('woff'), url('../fonts/myfonts/avenir-ltstd-medium.ttf') format('truetype'), url('../fonts/myfonts/avenir-ltstd-medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'AvenirLTStd-Book';
    font-weight: normal;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'AvenirLTStd-Medium';
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

body {
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
}

select::-ms-expand {
    display: none;
}

::selection {
    background: #d85043;
    color: #fff;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.clearfix {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}