@mixin transition {
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@mixin gradient {
  background: -webkit-linear-gradient(#4067d3, #7996d8);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@mixin gradient2 {
  background: linear-gradient(to right, #4067d3, #1749d2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

@mixin hover {
    &:hover,
    &:focus {
        background: $hoverBgColor;
        color:$whiteColor;
        border-color: $hoverBgColor;
    }
}

@mixin background($image:none, $size:cover) {
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin circle($size) {
    height: $size;
    width: $size;
    border-radius: 100%;
}

@mixin fullCover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin btn{
  display: inline-block;
  line-height: 2.4;
  padding: 1px 25px 0px;
  border-radius: 4px;
  box-shadow: none;
  text-transform: capitalize;
  font-family: $font;
  font-weight: $semiBoldFont;
  font-size: 13px;
  letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  @include transition;
  opacity: 0.95;
  box-shadow: 0px 0px 6px rgba(0,0,0,0);
  &:hover, &:focus{
    color: $whiteColor;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.19);
    opacity: 1;
  }
  &:focus{
    background: $darkBlueFont;
  }

}

@mixin green-btn{
    background: linear-gradient(to bottom, #5ad03c 0%, #5cb549 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin red-btn{
    background: linear-gradient(to bottom, #ff5050 0%, #ab3736 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin yellow-btn{
    background: linear-gradient(to bottom, #f9d00a 0%, #dcbc0c 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin blue-btn{
    background: linear-gradient(to bottom, #4167d3 0%, #3958a5 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin purpal-btn{
    background: linear-gradient(to bottom, #9066f7 0%, #6149a2 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin orange-btn{
    background: linear-gradient(to bottom, #ff7d0e 0%, #c76509 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin pink-btn{
    background: linear-gradient(to bottom, #ff47ad 0%, #cc4a8d 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin lightBlue-btn{
    background: linear-gradient(to bottom, #3cd0c2 0%, #3bada4 100%);
  background-repeat: no-repeat;
  background-size: cover;

}


@mixin translateY{
  transform: translateY(-50%);
}

@mixin media($point) {

 @if $point == iPadLand {
    @media only screen and (max-width:1199px){
     @content;
   }
 }
 @else if $point == iPad {
    @media only screen and (max-width: 991px){
     @content;
   }
 }
 @else if $point == mobile {
    @media only screen and (max-width: 767px){
     @content;
   }
 }
 @else if $point == mobile-s {
    @media only screen and (max-width: 479px){
     @content;
   }
 }
}
