@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import 'fontawesome-all.min.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css');

body,
html {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  -webkit-font-smoothing: antialiased !important;
}

*{
  outline: none;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-weight: normal;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

input,
select,
textarea {
  font-weight: normal;
}

* {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
}

select::-ms-expand {
  display: none;
}

::selection {
  background: #d85043;
  color: #fff;
}

input,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.clearfix {
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}
