@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700');
$bodyFont: 'Nunito Sans', sans-serif;
$bodyBgColor: #fff;
$bodyFontSize: 14px;
$bodyWeight: 400;

/** Paragraph Font Style **/

$font: 'Nunito Sans', sans-serif;
$fontColor:#fff;
$blackFontColor:#212529;
$fontLightColor:rgba(255,255,255,.8);
$lightFont:300;
$normalFont:400;
$semiBoldFont:600;
$boldFont:700;
$whiteColor: #fff;
$blackColor:#000;
$grayColor:#c8ccd9;
$pinkColor:#a74ffc;
$blueColor: #3e65d3;
$darkBlueFont:#193688;
$lightBlueColor:#243b7d;
$hoverBgColor:#193688;



/** Paragraph Font Style End **/


/** Header Style **/

$headerBgColor:rgba(0,0,0,.3);

/** Header Style End**/

/** Sidebar **/
$sidebarBgColor:rgba(0,0,0,.125);
