body.login {
  background-image: url('../images/login-back.png');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  .materialContainer {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;

  &.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1;
  }

  &:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
  }
}

.materialContainer {
  .button,
  .button button .button.login button i.fa,
  .button.login button,
  .input,
  .input .spin,
  .input input,
  .input label,
  .material-button .shape:after,
  .material-button .shape:before {
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
  }

  .alt-2,
  .alt-2 .shape,
  .box,
  .material-button,
  .material-button .shape {
    transition: 400ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  }

  .button,
  .button button,
  .input,
  .input .spin,
  .input input,
  .input label {
    width: 100%;
    float: left;
  }

  .button,
  .input {
    margin-top: 30px;
    height: 70px;
  }

  .button,
  .button button,
  .input,
  .input input {
    position: relative;
  }

  .input input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
  }

  .button button,
  .input input,
  .input label {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
  }

  .input .spin,
  .input:before {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  .input .spin {
    background: $blueColor;
    z-index: 4;
    width: 0;
  }

  .overbox .input .spin {
    background: rgba(255, 255, 255, 1);
  }

  .overbox .input:before {
    background: rgba(255, 255, 255, 0.5);
  }

  .input label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 60px;
  }

  .button.login {
    width: 60%;
    left: 20%;
  }

  .button button,
  .button.login button {
    width: 100%;
    line-height: 60px;
    left: 0;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    text-transform: uppercase;
  }

  .button.login {
    margin-top: 30px;
  }

  .button {
    margin-top: 20px;
  }

  .button button {
    background-color: #fff;
    color: $blueColor;
    border: none;
  }

  .button.login button.active {
    border: 3px solid transparent;
    color: #fff !important;
  }

  .button.login button.active span {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
  }

  .button.login button.active i.fa {
    opacity: 1;
    transform: scale(1) rotate(-0deg);
    -webkit-transform: scale(1) rotate(-0deg);
    -ms-transform: scale(1) rotate(-0deg);
  }

  .button.login button i.fa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    transform: scale(0) rotate(-45deg);
    -webkit-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
  }

  .button.login button:hover, .button.login button:focus {
    color: $blueColor;
    border-color: $blueColor;
    outline: none;
  }

  .button {
    margin: 40px 0;
    overflow: hidden;
    z-index: 2;
  }

  .button button {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  .pass-forgot {
    width: 100%;
    float: left;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
  }

  .click-efect {
    position: absolute;
    top: 0;
    left: 0;
    background: $blueColor;
    border-radius: 50%;
  }

  .overbox .click-efect {
    background: #17ec64;
  }

  .overbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: inherit;
    border-radius: 10px;
    padding: 60px 50px 40px;
  }

  .overbox .button,
  .overbox .input,
  .overbox .title {
    z-index: 111;
    position: relative;
    color: #fff !important;
    display: none;
  }

  .overbox .title {
    width: 80%;
  }

  .overbox .input {
    margin-top: 20px;
  }

  .overbox .input input,
  .overbox .input label {
    color: #fff;
  }

  .overbox .alt-2,
  .overbox .alt-2 .shape,
  .overbox .material-button,
  .overbox .material-button .shape {
    display: block;
  }

  .alt-2,
  .material-button {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #3d64d2 0%, #a8eaf1 100%);
    position: absolute;
    top: 40px;
    right: -70px;
    cursor: pointer;
    z-index: 100;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
  }

  .alt-2 .shape,
  .material-button .shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .alt-2 .shape:after,
  .alt-2 .shape:before,
  .material-button .shape:after,
  .material-button .shape:before {
    content: "";
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
  }

  .alt-2 .shape:before,
  .material-button .shape:before {
    width: 25px;
    height: 4px;
  }

  .alt-2 .shape:after,
  .material-button .shape:after {
    height: 25px;
    width: 4px;
  }

  .alt-2.active,
  .material-button.active {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(0deg);
    -webkit-transform: translate(50%, -50%) rotate(0deg);
    -ms-transform: translate(50%, -50%) rotate(0deg);
  }
}

.overbox .title {
  color: #fff;

  &:before {
    background: #fff;
  }
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: $darkBlueFont;
  position: relative;

  &:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: $darkBlueFont;
  }
}
