@import 'reset';
@import 'variables';
@import 'mixins';
@import 'login';

body,
html {
  height: 100%;
}

body {
  background: $bodyBgColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyWeight;
  padding: 45px;
  background: #3d64d2;
  background: linear-gradient(to right, #3d64d2 0%, #a8eaf1 100%);

  &.popupOpen {
    .main {
      filter:blur(2px);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
}

h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

h4 {
  font-size: 26px;
  margin-bottom: 20px;
}

h5 {
  font-size: 22px;
  margin-bottom: 15px;
}

h6 {
  font-size: 18px;
  margin-bottom: 15px;
}

.form-group {
  display: block;

  .form-control,
  select.form-control:not([size]):not([multiple]) {
    display: block;
    height: 59px;
    border: solid 1px rgba(255,255,255,0.99);
    padding: 2px 16px;
    font-weight: $normalFont;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: $blackColor;
    background: rgba(255,255,255,0.95);

    &::-webkit-input-placeholder {
      color: #6e6e6e;
    }

    &::-moz-placeholder {
      color: #6e6e6e;
    }

    &:-ms-input-placeholder {
      color: #6e6e6e;
    }

    &:-moz-placeholder {
      color: #6e6e6e;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 26px rgba(0,0,0,0.09);
      border-color: $blueColor;
      background-color: rgba(255,255,255,1);
    }
  }
  select.form-control, select.form-control:not([size]):not([multiple]){
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
    padding-right: 45px;
  }
}

.main {
  position: relative;
  height: 100%;
  transform: translate3d(0,0,0);
  background: rgba(247, 247, 247, 0.47);
  border-radius: 8px;
  padding: 15px 30px 15px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

header {
  position: relative;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: calc(100% - 350px);
  margin-left: 350px;

  .header-group {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;

    .search-bar {
      position: relative;
      margin-right: 0;

      .form-control {
        width: 420px;
        box-shadow: none;
        border-radius: 0;
        height: 38px;
        background: rgba(255,255,255,.14);
        border: solid 1px transparent;
        color: $whiteColor;
        padding: 2px 15px 2px 45px;
        font-size: 13px;
        border-radius: 6px;

        &::-webkit-input-placeholder {
          color: rgba(255,255,255,.9);
        }

        &::-moz-placeholder {
          color: rgba(255,255,255,.9);
        }

        &:-ms-input-placeholder {
          color: rgba(255,255,255,.9);
        }

        &:-moz-placeholder {
          color: rgba(255,255,255,.9);
        }
      }

      .search-btn {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 38px;
        left: 0;
        font-size: 0;
        padding: 0;
        color: $whiteColor;
        background: transparent;
        width: 38px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        @include transition;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        i {
          font-size: 12px;
          transition: opacity 0.2s ease-in-out;
          color: $blueColor;
        }

        i+i {
          opacity: 0;
          font-size: 0;
          transition: opacity 0.2s ease-in-out;
        }

        &:hover {
          background: rgba(255,255,255,.5);

          i {
            opacity: 0;
            font-size: 0;
          }

          i+i {
            opacity: 1;
            font-size: 14px;
          }
        }
      }

      .form-control:focus + .search-btn {
        background: rgba(255,255,255,.3);
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        position: relative;

        a.dropdown-toggle {
          padding: 5px 10px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          min-width: 42px;
          height: 38px;
          color: $blueColor;
          font-size: 15px;
          background: rgba(255,255,255,.0);
          border-radius: 6px;

          .fa-chevron-down {
            position: relative;
            top: 1px;
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
          }

          &:hover {
            background: rgba(255,255,255,.25);
            color: $lightBlueColor;
          }

          &:after {
            display: none;
          }
        }

        #time {
          background: rgba(255,255,255,.14);
          color: $blueColor;
          padding: 5px 25px;
          letter-spacing: 0.08em;
          height: 38px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          font-size: 16px;
        }

        .dropdown-menu {
          left: auto !important;
          right: 0;
          transform: none !important;
          top: 100% !important;
          min-width: 250px;
          max-width: 300px;
          background: rgba(255, 255, 255, 0.25);
          border: none;
          border-radius: 0;
          margin-top: 16px;
          padding: 0;

          .title {
            display: block;
            padding: 15px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.22);
          }

          .dropdown-item {
            position: relative;
            padding: 10px;
            min-height: 60px;
            display: flex;
            align-items: center;
            padding-left: 60px;
            flex-wrap: wrap;

            figure {
              @include background;
              @include circle(40px);
              position: absolute;
              top: 10px;
              left: 10px;
            }

            .time {
              position: absolute;
              right: 10px;
              top: 10px;
            }

            .text {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.menu-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 15px 30px 15px 15px;
  border-right: solid 1px rgba(224, 219, 255, 0.31);

  .logo {
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 15px;
    margin-bottom: 40px;

    h1 {
      color: $darkBlueFont;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: $boldFont;
      margin-bottom: 0;
    }

    img {
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  .user {
    display: block;
    margin-bottom: 15px;

    a {
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: row;

      figure {
        @include background;
        @include circle(50px);
        display: inline-block;
      }

      strong {
        display: inline-block;
        padding-left: 8px;
        width: calc(100% - 60px);
        color: $darkBlueFont;
        font-size: 16px;
        font-weight: $boldFont;
        letter-spacing: 0.02em;

        span {
          display: block;
          font-weight: $normalFont;
          color: $whiteColor;
          font-size: 14px;
        }
      }
    }
  }

  .add-project {
    display: block;
    margin-bottom: 30px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      color: $blueColor;
      font-weight: $boldFont;

      i {
        @include gradient2;
        position: relative;
        top: 1px;
        font-size: 24px;
      }

      &:focus,
      &:hover {
        color: $darkBlueFont;
      }
    }
  }

  .menu-list {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        width: 100%;
        margin-bottom: 3px;
        position: relative;
        color: $whiteColor;
        font-size: 14px;

        a {
          display: flex;
          align-items: center;
          color: $blueColor;
          text-transform: uppercase;
          letter-spacing: 0.08em;
          padding: 10px 10px 10px 31px;
          font-weight: $boldFont;

          &:focus,
          &:hover {
            color: $darkBlueFont;

            .fas {
              color: $darkBlueFont;
            }
          }
        }

        .fas {
          position: absolute;
          top: 44%;
          @include translateY;
          left: 0;
          color: $blueColor;
          @include transition;
        }

        .fa-chess-rook {
          font-size: 16px;
          left: 2px;
          margin-top: 1px;
        }

        .fa-users {
          font-size: 15px;
          margin-top: 1px;
        }

        &.active {
          a {
            color: $darkBlueFont;

            .fas {
              color: $darkBlueFont;
            }
          }
        }
      }
    }
  }
}

.btn {
  @include btn;
}

.green-btn {
  @include green-btn;
  color: $whiteColor;
}

.yellow-btn {
  @include yellow-btn;
  color: $whiteColor;
}

.blue-btn {
  @include blue-btn;
  color: $whiteColor;
}

.orange-btn {
  @include orange-btn;
  color: $whiteColor;
}

.red-btn {
  @include red-btn;
  color: $whiteColor;
}

.pink-btn {
  @include pink-btn;
  color: $whiteColor;
}

.purpal-btn {
  @include purpal-btn;
  color: $whiteColor;
}

.lightBlue-btn {
  @include lightBlue-btn;
  color: $whiteColor;
}

.large-btn {
  min-width: 220px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 3;
}

.scroll {
  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgb(197, 227, 232);
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #3e65d3;
    width: 2px;
  }
}

.section {
  display: block;
  width: calc(100% - 350px);
  margin-left: 350px;
  margin-top: 40px;
  height: calc(100% - 130px);
  position: relative;
  overflow: hidden;

  p {
    color: $darkBlueFont;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: $semiBoldFont;
    margin-bottom: 25px;
  }

  .table-cover {
    background: rgba(255,255,255,0.95);
    border-radius: 8px;
    padding: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    min-height: 600px;

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: #3e65d3;
      width: 100%;
    }

    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
      background-color: rgb(105, 84, 249);
    }

    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
      background-color: rgb(105, 84, 249);
    }

    .mCSB_scrollTools .mCSB_draggerRail {
      background-color: rgba(224, 224, 224, 0.31);
    }

    table {
      width: 100%;
      border-spacing: 0;
      table-layout: auto;
      width: 1800px;
      min-height: 410px;

      tr {
        border-bottom: solid 1px #e6e6e6;

        th {
          text-transform: uppercase;
          color: $darkBlueFont;
          font-size: 14px;
          font-weight: $boldFont;
          text-align: center;
          border-right: solid 1px #e6e6e6;
          padding: 8px 15px;

          &:last-child {
            border-right: none;
          }

          &:nth-last-child(-n+4) {
            background: linear-gradient(#4067d3, #7996d8);
            color: $whiteColor;
            border-right-color: #becbea;
          }
        }

        td {
          border-right: solid 1px #e6e6e6;
          padding: 8px 15px;
          font-size: 14px;
          letter-spacing: 0.03em;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 90px;
          color: $blackFontColor;

          ul {
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              width: 100%;
              color: $darkBlueFont;
              font-size: 14px;
              text-transform: capitalize;
              margin-bottom: 8px;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                color: $pinkColor;
                text-transform: none;
              }

              span {
                font-weight: $boldFont;
                color: $blueColor;
                text-transform: capitalize;
              }
            }
          }

          &:nth-child(2) {
            width: 350px;
            text-align: left;
            position: relative;
            padding-right: 53px;
            white-space: normal;
            overflow: auto;
            text-overflow: unset;
            max-width: 100%;
          }

          &:last-child {
            border-right: none;
          }

          &:nth-last-child(-n+4) {
            background: linear-gradient(rgba(69, 107, 211, 0.22), rgba(64, 103, 211, 0.03));
            border-right-color: #becbea;
          }

          a.project-view {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            background: rgba(226, 226, 226, 0.5);
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 31px;
            border-radius: 100%;
            font-size: 12px;
            color: #989898;

            &:focus,
            &:hover {
              background: $blueColor;
              color: $whiteColor;
            }
          }

          &:hover {
            a.project-view {
              background: $blueColor;
              color: $whiteColor;
            }
          }

          &[data-status] {
            max-width: 100%;
            overflow: visible;
            position: relative;

            .status-tooltip {
              position: absolute;
              z-index: 10;
              top: 50%;
              left: 110%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              padding: 15px;
              visibility: hidden;
              width: 352px;
              height: 190px;
              transition: all 0.2s 0.2s ease-in;
              transform: translateY(-50%);
              opacity: 0;
              border-radius: 3px;
              box-shadow: 5px 3px 11px rgba(0, 0, 0, 0.1);
              background: #fff;
              white-space: normal;

              &:after {
                position: absolute;
                bottom: 0;
                top: 50%;
                margin-top: -8px;
                left: 0;
                display: block;
                width: 0;
                height: 0;
                margin-left: -17px;
                content: '';
                border: 8px solid #e0e0e0;
                border-bottom-color: transparent;
                border-top-color: transparent;
                border-left-color: transparent;
                background: transparent;
              }

              a {
                width: 49%;
                margin-right: -4px;
                margin-bottom: 10px;
              }
            }

            &:hover {
              .status-tooltip {
                visibility: visible;
                transition: all 0.2s 0.1s ease-out;
                transform: translateY(-50%);
                opacity: 1;
                left: 100%;
              }
            }
          }
        }
      }
    }

    &.small-table {
      min-height: 50px;

      table {
        min-height: 1px;
        width: 100%;
        table-layout: auto;

        tr {
          th {
            &:nth-last-child(-n+4) {
              background: transparent;
              color: $darkBlueFont;
              border-color: #e6e6e6;
            }
          }

          td {
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;

            &:first-child {
              width: 150px;
            }

            &:nth-last-child(-n+4) {
              background: transparent;
              color: $blackFontColor;
              border-color: #e6e6e6;
              text-align: center;
              padding: 15px;
            }

            &:last-child {
              width: 250px;
              position: relative;
              white-space: normal;
              overflow: auto;
              text-overflow: unset;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.nav-tabs {
  border-bottom: none;

  .nav-item {
    margin: 0 15px 30px 0;

    .nav-link {
      border-radius: 0;
      margin: 0;
      padding: 12px 15px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      font-size: 15px;
      text-transform: capitalize;
      letter-spacing: 0.04em;
      font-weight: $semiBoldFont;
      color: $blueColor;
      background: rgba(255, 255, 255, 0.14);
      border: none;

      svg {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        fill: $blueColor;
        @include transition;
      }

      .fas {
        margin-right: 8px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.55);
        color: $darkBlueFont;

        svg {
          fill: $darkBlueFont;
        }
      }

      &.active {
        background: linear-gradient(to bottom, #4067d3, #1749d2);
        border: none;
        color: rgba(255, 255, 255, 0.90);

        svg {
          fill: rgba(255, 255, 255, 0.90);
        }
      }
    }
  }
}

.tab-content {
  .tab-pane {
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 4px;
    padding: 30px;

    .btn {
      font-size: 16px;
      margin-top: 15px;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(150, 150, 150, 0.51);
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
  }

  .popup-inner {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background: rgba(255,255,255,0.95);
    text-align: center;
  }

  .popup-close {
    width: 34px;
    height: 34px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 100%;
    background: transparent;
    border: solid 4px #808080;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 5px;
      height: 4px;
      width: 16px;
      border-radius: 30px;
      background: #808080;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover {
      -webkit-transform: translate(50%, -50%) rotate(180deg);
      transform: translate(50%, -50%) rotate(180deg);
      background: #f00;
      text-decoration: none;
      border-color: #f00;
    }

    &:hover:after,
    &:hover:before {
      background: #fff;
    }
  }
}

.management-team-cover {
  h2 {
    font-size: 24px;
    @include gradient2;
    font-weight: $boldFont;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    i {
      font-size: 22px;
      margin-right: 5px;
      @include gradient2;
    }
  }
}
